.carta-externa-fixo {
  width: 100%;
  height: 100%;
  perspective: 160px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.carta-externa-fixo:hover {
  transform: scale(1.03);
}

.carta-interna-rotativo {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.carta-interna-rotativo.virada {
  transform: rotateY(180deg);
}

.carta-frente,
.carta-verso {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.75rem;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
  user-select: none;
}

.carta-frente {
  background-color: white;
  transform: rotateY(180deg);
}

.carta-verso {
  background-color: #333;
  color: white;
}

/*width ate 360*/
.carta-externa-fixo {
  margin: 0px;
  padding: 0.2rem 0.5rem;
}
.carta-frente,
.carta-verso {
  font-size: 1.75rem;
}

@media screen and (min-width: 600px) {
  .carta-externa-fixo {
    padding: 0.2rem 0.4rem;
  }
  .carta-frente,
  .carta-verso {
    font-size: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .carta-externa-fixo {
    padding: 0.2rem 0.3rem;
  }
}
@media screen and (min-width: 900px) {
  .carta-externa-fixo {
    padding: 0.3rem 0.6rem;
  }
}
@media screen and (min-width: 1000px) {
  .carta-externa-fixo {
    perspective: 350px;
  }
}

/*landscape*/
@media screen and (orientation: landscape) {
  .carta-externa-fixo {
    padding: 0.2rem 0.2rem;
    /* perspective: 1200px; */
  }
  .carta-frente,
  .carta-verso {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 730px) and (orientation: landscape) {
  .carta-externa-fixo {
    padding: 0.2rem 0.5rem;
  }
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
  .carta-frente,
  .carta-verso {
    font-size: 2.8rem;
  }
}
/*NestHub*/
@media screen and (min-width: 1024px) and (min-height: 600px) and (orientation: landscape) {
  .carta-externa-fixo {
    padding: 0.2rem 1rem;
  }
}

@media screen and (min-width: 1229px) and (orientation: landscape) {
  .carta-externa-fixo {
    padding: 0.2rem 2rem;
  }
}
/*Surface Pro 7*/
@media screen and (min-width: 1300px) and (min-height: 900px) /*and (orientation: landscape) */ {
  .carta-externa-fixo {
    padding: 0.2rem 1.5rem;
  }
}
/*Ipad Pro*/
@media screen and (min-width: 1300px) and (min-height: 1000px) /*and (orientation: landscape) */ {
  .carta-externa-fixo {
    padding: 0.2rem 1rem;
  }
}
@media screen and (min-width: 1536px) and (orientation: landscape) {
  .carta-externa-fixo {
    padding: 0.2rem 3rem;
  }
}
