.mesa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1e1e1e;
  color: #ccc;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.3rem 0.25rem;
}

.botao-resetar {
  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0 0.75rem;
  background-color: rgba(255, 50, 50, 0.55);
  color: #ddd;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.carta-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  /**/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 4.7rem);
  column-gap: 1rem;
  row-gap: 0rem;
  margin: 0.2rem;
}

/*portrait*/
@media screen and (min-height: 600px) {
  .carta-grid {
    grid-template-rows: repeat(7, 5rem);
  }
}
@media screen and (min-height: 700px) {
  .carta-grid {
    grid-template-rows: repeat(7, 5.4rem);
  }
}
@media screen and (min-height: 800px) {
  .carta-grid {
    grid-template-rows: repeat(7, 6.4rem);
  }
}
@media screen and (min-height: 900px) {
  .carta-grid {
    grid-template-rows: repeat(7, 6.8rem);
  }
}
@media screen and (min-height: 1000px) {
  .carta-grid {
    grid-template-rows: repeat(7, 7.4rem);
  }
}
@media screen and (min-height: 1100px) {
  .carta-grid {
    grid-template-rows: repeat(7, 8.2rem);
  }
}
@media screen and (min-height: 1200px) {
  .carta-grid {
    grid-template-rows: repeat(7, 8.8rem);
  }
}
@media screen and (min-height: 1350px) {
  .carta-grid {
    grid-template-rows: repeat(7, 10.5rem);
  }
}

@media screen and (min-width: 760px) {
  .cabecalho {
    font-size: 2rem;
  }
  .carta-grid {
    grid-template-columns: repeat(4, 11.5rem);
    column-gap: 0.6rem;
    row-gap: 0rem;
    margin: 0.2rem;
  }
}
@media screen and (min-width: 820px) {
  .carta-grid {
    grid-template-columns: repeat(4, 12.3rem);
  }
}

@media screen and (min-width: 900px) {
  .carta-grid {
    grid-template-columns: repeat(4, 13.6rem);
  }
}

/*Ipad pro*/
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .carta-grid {
    grid-template-columns: repeat(4, 15.2rem);
  }
}

/* Desktop*/
@media screen and (min-width: 1100px) and (min-height: 600px) {
  .carta-grid {
    grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(7, 8rem);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

/*landscape*/
@media screen and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 3.5rem);
    grid-template-columns: repeat(7, 4.75rem);
    column-gap: 1.1rem;
    row-gap: 0rem;
    margin: 0.2rem;
  }
}
@media screen and (min-width: 650px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 4.4rem);
    grid-template-columns: repeat(7, 5rem);
    column-gap: 1.1rem;
  }
}
@media screen and (min-width: 720px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 4rem);
    grid-template-columns: repeat(7, 5.5rem);
    column-gap: 1.2rem;
  }
  .cabecalho {
    font-size: 1.15rem;
  }
}
/*Surface Duo*/
@media screen and (min-width: 720px) and (min-height: 500px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 6.6rem);
    grid-template-columns: repeat(7, 5.2rem);
  }
}
@media screen and (min-width: 840px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 4.7rem);
    grid-template-columns: repeat(7, 6.5rem);
  }
}
@media screen and (min-width: 850px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 4.7rem);
    grid-template-columns: repeat(7, 6.8rem);
    column-gap: 1.3rem;
  }
}
@media screen and (min-width: 880px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 4rem);
    grid-template-columns: repeat(7, 6.8rem);
    column-gap: 1.3rem;
  }
}

@media screen and (min-width: 930px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 4.7rem);
    grid-template-columns: repeat(7, 7.2rem);
  }
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
  .cabecalho {
    font-size: 1.5rem;
  }
  .carta-grid {
    grid-template-rows: repeat(4, 9.5rem);
    grid-template-columns: repeat(7, 8rem);
  }
}
/*NestHub*/
@media screen and (min-width: 1024px) and (min-height: 600px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 7.5rem);
    grid-template-columns: repeat(7, 8rem);
  }
}
/*ipad Mini*/
@media screen and (min-width: 1024px) and (min-height: 760px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 9.6rem);
    grid-template-columns: repeat(7, 8rem);
  }
}
@media screen and (min-width: 1150px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(7, 9.25rem);
  }
}

@media screen and (min-width: 1229px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: repeat(7, 9.9rem);
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(7, 9.9rem);
  }
}
/*Surface Pro 7*/
@media screen and (min-width: 1300px) and (min-height: 900px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 11rem);
    grid-template-columns: repeat(7, 11rem);
  }
}
/*Ipad Pro*/
@media screen and (min-width: 1300px) and (min-height: 1000px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 13rem);
    grid-template-columns: repeat(7, 11rem);
  }
}
@media screen and (min-width: 1536px) and (orientation: landscape) {
  .carta-grid {
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(7, 12.6rem);
  }
}
